{% load static %}
<footer class="page-footer section-60">
    <div class="shell"><a href="{% url 'home_page' %}" class="brand"><img alt="home page" src="{% static 'images/logo.png' %}" width="163" height="41" class="reveal-inline-block img-responsive"></a>
      <p>Our products are a combination of classic and modern style; we can satisfy any demands of customers, that is why we have so many fans. You will <br class='veil reveal-lg-block'> always be popular with our jewelry; the magical shine of our products will bring you the best of luck!</p>
      <ul class="elements-group-20 offset-top-20">
        <li><a href="#" class="icon icon-xs text-base fa-facebook"></a></li>
        <li><a href="#" class="icon icon-xs text-base fa-twitter"></a></li>
        <li><a href="#" class="icon icon-xs text-base fa-google-plus"></a></li>
        <li><a href="#" class="icon icon-xs text-base fa-linkedin"></a></li>
        <li><a href="#" class="icon icon-xs text-base fa-pinterest"></a></li>
      </ul>
      <p class="offset-top-20 text-muted"><span class='text-bold'>Turquoise</span> 2016 | <a href='privacy.html'>Privacy Policy</a></p>
    </div>
</footer>
<!-- FOOTER LINK-->